################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/FunTrasGUI/.vs/FunTrasGUI/FileContentIndex/185f7fe0-3512-43c3-afbe-f275ad2ca362.vsidx
/GUI/FunTrasGUI/.vs/FunTrasGUI/v17/ipch/AutoPCH/eab2d297e9204838/CALCULADORA.ipch
CALCULADORA.ipch
FUN_TRAS.ipch
